[% WRAPPER 'include/layout.tt' %]

<h1>検索フォームのテスト</h1>
<ul>
<li>検索すると Ajax で検索結果が書き換わります。
<li>pushstate 非対応ブラウザでは
</ul>

<form action="/search" method="get">
<label for="word">検索語句</label>
<input type="te
</form>

[% END %]
